.finalcountdown {
    position: absolute;
    right: 24%;
    color:#fff;
}

#Debug {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: #111;
    color: #444;
    padding: 5px;
    opacity: 0;
    font-size: 10px;
}
.clock {
    color: #F65140;
    height: 63px;
    float: left;
    font-size: 35px;
    line-height: 100%;
    margin-right: 10px;
    position: relative;
    width: 75px;
}
.clock .digit_1 {
    margin-right: 3.333333%;
}
.clock .digit_1,
.clock .digit_2 {
    float: left;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 48.3333%;
}
.clock .digit_1 .upper,
.clock .digit_2 .upper {
    height: 19px;
    line-height: 100%;
    overflow: hidden;
    padding-top: 3px;
    background: 50% 21px no-repeat #222;
}
.clock .digit_1 .lower,
.clock .digit_2 .lower {
    height: 23px;
    line-height: 0px;
    margin-top: 2px;
    overflow: hidden;
    background: 50% 0 no-repeat #222;
}
.clock .label {
    bottom: 0px;
    clear: both;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.clock .copy {
    color: #fff;
    font-family: 'DINBold';
    font-size: 14px;
    margin-bottom: 6px;
    text-transform: uppercase;
}
